.container{
    display:flex;
    justify-content: space-evenly;
    border: solid grey;
}
.title{
    width:150px;
    height:150px;
    background-color: red;
    text-align: center;
}   
.f_name{
    width: 150px;
    height:150px;
    background-color: blue;
    text-align: center;
}
.m_name{
    width:150px;
    height:150px;
    background-color: green;
    text-align: center;
}