.container{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left:10%;
    padding-right:10%
}
.container2{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.title{
    
    background-color: red;
    border-radius: 10%;
    text-align: left;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 20px;
    height: 50px;
    overflow: hidden;
}   
.f_name{
    
    background-color: blue;
    border-radius:10%;
    text-align: left;
    padding:10px;
    font-size: 20px;
    padding:10px;
    flex-grow: 1;
    flex-basis: 0;
    padding : 10px;
    height:50px;
    overflow:hidden;
}
.m_name{
    
    height: 50px;
    background-color: green;
    border-radius: 10%;
    text-align: left;
    font-size: 20px;
    flex-grow:1;
    flex-basis: 0;
    padding:10px;  
      
}
#textFNAME, #textMNAME, #titleOPTION{

    border-radius: 5px;
}

.btn{
    
}