.main_block{
    outline: 1px;
    outline-color: red;
    outline-style: solid;
    background-color: white;
}
.foster_label{
    font-size: 20px;
    color: black;
    outline-color: red;
    outline-style: solid;
    }

.image_block{
    display:inline-block;
    border-radius: 50%;
    background-color: white;
    overflow:hidden;
}    
.display_first_name{
    display:inline-block;
    outline-color: red;
    outline-style: solid;
    vertical-align: top;
}
.main_inline_block{
    display:inline-block;
}

.Foster_header{
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    height: 300px;
}

